<!--Footer-->
<footer class="page-footer center-on-small-only">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">

      <!--Info-->
      <div class="col-md-8">
        <h5 class="title">RichLira.com</h5>
        <p>Gracias por visitar.<br>
          Esta WebApp es para dar mi experiencia laboral hacia posibles clientes.<br>
          Si buscas trabajar conmigo, contáctame.
        </p>
      </div>
      <!--/.Info-->

      <hr class="hidden-md-up">



      <!--Ligas-->
      <div class="col-md-4">
        <h5 class="title">Ligas</h5>
        <ul>
          <li>
            <a routerLink="/home">Home </a>
          </li>
          <li>
            <a routerLink="/acercademi">Acerca de mi</a>
          </li>
          <li>
            <a routerLink="/blog">Blog</a>
          </li>
          <li>
            <a routerLink="/contacto">Contáctame</a>
          </li>
        </ul>
      </div>
      <!--/.Ligas-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Social buttons-->
  <div class="social-section">
    <ul>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/ricardolira/" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://github.com/richlira" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://twitter.com/soyrichlira" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/richlira/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://pinterest.com/richlira/" target="_blank">
          <i class="fa fa-pinterest"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://stackoverflow.com/users/5848847/richlira" target="_blank">
          <i class="fa fa-stack-overflow"></i>
        </a>
      </li>
    </ul>
  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a href="http://www.richlira.com"> RichLira.com </a> v1.0
    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
