.view{
  height: 30%;
}

#contratame{
  padding-top: 100px;
}

.view {
  background: url("http://www.richlira.com/assets/chispas.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
