<div class="view hm-black-strong">
  <!--Intro content-->
  <div class="full-bg-img flex-center">
    <ul>
      <li>
        <h1 id="contratame" class="h1-responsive animated fadeInDown" >Contáctame</h1></li>
    </ul>
  </div>
  <!--/Intro content-->
</div>
<!--/.Mask-->

<!-- Info -->
<br>
<div class="container">
  <div class="row align-middle">
    <div class="col-md-6">
      <h1>Ok, mandame correo o mensaje:</h1>
      <br>
      <h4>Correo de trabajo: trabajos@richlira.com</h4>
      <h4>Twitter @soyrichlira</h4>
      <h4>También usa mis redes como Linkedin para mandar un mensaje.</h4>
      <br>
      <b>Rich</b>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="assets/yo.jpg">
    </div>
  </div>
</div>
<!--/.Info-->

<!--Footer-->
<app-footer></app-footer>
<!--/.Footer-->
