<nav class="navbar navbar-dark fixed-top scrolling-navbar navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home">
      <strong>RichLira.com</strong>
    </a>
    <div class="collapse navbar-collapse" id="collapseEx2">
      <ul class="nav navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/acercademi">Acerca de mí</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contacto">Contáctame</a>
        </li>
      </ul>
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/ricardolira/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://github.com/richlira" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://twitter.com/soyrichlira" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/richlira/" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://pinterest.com/richlira/" target="_blank">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://stackoverflow.com/users/5848847/richlira" target="_blank">
            <i class="fa fa-stack-overflow"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
