<div class="view hm-black-strong">
  <!--Intro content-->
  <div class="full-bg-img flex-center">
    <ul>
      <li>
        <h1 id="acerca" class="h1-responsive animated fadeInDown">Acerca de mí</h1></li>
    </ul>
  </div>
  <!--/Intro content-->
</div>
<!--/.Mask-->



<!-- Info -->
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid img-thumbnail z-depth-5" src="assets/yo.jpg">
    </div>
    <div class="col-md-8">
      <br>
      <h2 class="font-weight-bold padeo">Ricardo Lira de la Vega</h2>
      <h4 class="padeo">Ingeniero Industrial y de Sistemas</h4>
      <h4 class="padeo">Front-End Developer e iOS Developer</h4>
      <br>
      <p class="padeo">Estudié en la  Universidad TecMilenio Monterrey y en la escuela de hackers Dev.f en Ciudad de México.</p>
      <p class="padeo">Actualmente estoy trabajando en 2 webapps: una para gobierno de mi ciudad y una para un grupo empresarial(amigos). Me encanta el proceso de diseño y las pruebas de interacción con los clientes y los usuarios. Siempre busco sacar el mayor potencial posible.</p>
      <p class="padeo">Hace poco el gobierno municipal de mi ciudad natal buscaba la manera de difundir sus eventos culturales. Entonces saqué una primera versión estatica de lo que podia crear y también los apoye a todo el manejo de redes sociales. Les gustó tanto el resultado y mucha gente quería más, así que empezé a construir la webapp, sobretodo para el evento más grande de aquí se llama Poza Rica de las Artes (está pendiente la iOS app).</p>
      <p class="padeo">Me encanta  aprender de los proyectos, pero sobretodo de las personas.Y también descubrí que  me gustaría unirme a un equipo y seguir creciendo los skills que he obtenido. Me encanta estar en contacto de desarrolladores, siento que puedo aportar y aprender de cada uno de ellos.</p>
      <p class="padeo">Busco apoyar la comunidad developer en México.</p>
    </div>
  </div>

<div class="container">
  <hr class="extra-margin">
</div>

<div class="row">
  <div class="col-md-4 ">
    <img class="img-fluid img-thumbnail z-depth-5" src="assets/devf.jpg">
    <br>
    <br>
    <br>
    <br>
    <img class="img-fluid img-thumbnail z-depth-5" src="assets/backend.jpg">
  </div>
  <div class="col-md-8">
    <h2 class="font-weight-bold padeo">Skills personales</h2>
    <ul class="padeo">
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Angular Framework (4.0)</li>
      <li>Polymer 1.0</li>
      <li>Javascript</li>
      <li>Swift</li>
      <li>iOS Developer</li>
      <li>Progressive Web Apps</li>
      <li>Bootstrap</li>
      <li>MaterializeCSS</li>
      <li>Python</li>
      <li>Django Framework</li>
      <li>MDBootstrap</li>
      <li>Node.js</li>
      <li>Git</li>
      <li>AJAX</li>
      <li>WebStorm</li>
      <li>Npm</li>
      <li>JSON</li>
      <li>Google Cloud Services</li>
      <li>Firebase</li>
      <br>
      <li>Algunas herramientas que pueden ser útiles:</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Premiere Pro</li>
      <li>Adobe After Effects</li>
      <li>Adobe Audition</li>
      <li>Adobe Lightroom</li>
      <li>Adobe Muse</li>
      <li>Adobe Acrobat</li>
      <li>Microsoft Office 365</li>
      <li>Sketch</li>
      <li>Marvel App Mockups</li>
      <li>Discord</li>
      <li>OBS</li>
    </ul>
  </div>
</div>

<div class="container">
  <hr class="extra-margin">
</div>
<!--/.Info-->





<!-- Footer -->
<app-footer></app-footer>
<!--./Footer -->
