<div class="view hm-black-strong">
  <!--Intro content-->
  <div class="full-bg-img flex-center">
    <ul>
      <li>
        <h1 id="blog" class="h1-responsive animated fadeInDown">Blog</h1></li>
    </ul>
  </div>
  <!--/Intro content-->
</div>
<!--/.Mask-->

<!-- Info -->
<br>
<div class="container">
  <div class="row align-middle">
    <div class="col-md-6">
      <h1>Hey, antes de que te vayas</h1>
      <p>Terminé mi webapp a las 3 de la mañana, perdona.</p>
      <p>Si buscas contenido de Desarrollar Frontend e iOS, pronto lo verás aquí.</p>
      <p>Mientras, sigue mi Twitter</p>
      <br>
      <b>Rich</b>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="assets/devf.jpg">
    </div>
  </div>
</div>
<!--/.Info-->

<!--Footer-->
<app-footer></app-footer>
<!--/.Footer-->
