<!--Carousel Wrapper-->
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view hm-black-light">
        <video class="video-full" autoplay loop>
          <source src="assets/tropical.mp4" type="video/mp4" />
        </video>
      </div>
      <!--Caption-->
      <div class="carousel-caption">
        <div class="flex-center animated fadeIn">
          <ul>
            <li>
              <h1 class="h1-responsive animated fadeInDown">¿Qué quieres construir hoy?</h1></li>
            <li>
              <p class="animated fadeInDown">Aqui tienes 2 opciones:</p>
            </li>
            <li>
              <a routerLink="/acercademi" class="btn btn-primary btn-lg animated fadeInLeft" rel="nofollow">Acerca de mí</a>
              <a routerLink="/contacto" class="btn btn-default btn-lg animated fadeInRight" rel="nofollow">Contáctame</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Caption-->

    </div>
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
<br>
<!-- Main container-->
<div class="container">

<div class="row">
  <!--Section: Best features-->
  <section id="best-features">

    <div class="row">

      <!--First columnn-->
      <div class="col-md-4">
        <!--Card-->
        <div class="card hoverable">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="assets/card01.jpg" class="img-fluid" alt="">
            <a href="https://github.com/richlira" target="_blank">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block text-center">
            <!--Title-->
            <h4 class="card-title">Código en mi Github</h4>
            <hr>
            <!--Text-->
            <p class="card-text text-left">Puedes checar mi código personal hecho en Angular, Polymer y más. Manejo varios frameworks y lenguajes, pero sobretodo me gusta ser Frontend developer e iOS developer.</p>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--First columnn-->

      <!--Second columnn-->
      <div class="col-md-4">
        <!--Card-->
        <div class="card hoverable">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="assets/card02.jpg" class="img-fluid" alt="">
            <a href="https://www.linkedin.com/in/ricardolira/" target="_blank">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block text-center">
            <!--Title-->
            <h4 class="card-title">Skills en mi Linkedin</h4>
            <hr>
            <!--Text-->
            <p class="card-text text-left">Estudie la carrera de Ingeniería Industrial y de Sistemas. He tenido aciertos y fallos en mi vida, pero siempre he buscado aprender de cada situación o personas que me acompañan.</p>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--Second columnn-->

      <!--Third columnn-->
      <div class="col-md-4">
        <!--Card-->
        <div class="card hoverable">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="assets/card03.jpg" class="img-fluid" alt="">
            <a href="https://twitter.com/soyrichlira" target="_blank">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block text-center">
            <!--Title-->
            <h4 class="card-title">Developer articles en Twitter</h4>
            <hr>
            <!--Text-->
            <p class="card-text text-left">Todo lo que he encontrado de artículos, actualizaciones y notas de desarrolladores los trato de poner en mi twitter personal. Siempre trato de estar al tanto de actualizaciones.</p>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--Third columnn-->


    </div>

  </section>
  <!--/Section: Best features-->
</div>

</div>


<!--Footer-->
<app-footer></app-footer>
<!--/.Footer-->
