
<!--Carousel Wrapper-->
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view hm-black-light">
        <video class="video-full" autoplay loop>
          <source src="assets/tropical.mp4" type="video/mp4" />
        </video>
      </div>
      <!--Caption-->
      <div class="carousel-caption">
        <div class="flex-center animated fadeIn">
          <ul>
            <li>
              <h1 class="h1-responsive animated fadeInDown">¿Qué quieres construir hoy?</h1></li>
            <li>
              <p class="animated fadeInDown">Aqui tienes 2 opciones:</p>
            </li>
            <li>
              <a routerLink="/acercademi" class="btn btn-primary btn-lg animated fadeInLeft" rel="nofollow">Acerca de mí</a>
              <a routerLink="/contacto" class="btn btn-default btn-lg animated fadeInRight" rel="nofollow">Contáctame</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Caption-->

    </div>
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
<br>
<!-- Main container-->
<div class="container">
  <div class="row">
    <!--Section: Tarjetillas-->
    <section id="best-features">

      <div class="row">

        <!--First columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card hoverable">
            <!--Card image-->
            <img class="img-fluid" src="assets/card01.jpg" alt="">
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Código en mi Github</h4>
              <!--Text-->
              <p class="card-text">Puedes checar mi código personal hecho en Angular, Polymer y más. Manejo varios frameworks y lenguajes, pero sobretodo me gusta ser Frontend developer e iOS developer.</p>
              <a href="https://github.com/richlira" target="_blank" class="btn btn-primary"><i class="fa fa-github"></i>&nbsp;Github</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--First columnn-->

        <!--Second columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card hoverable">
            <!--Card image-->
            <img class="img-fluid" src="assets/card02.jpg" alt="">
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Skills en mi Linkedin</h4>
              <!--Text-->
              <p class="card-text">Estudie la carrera de Ingeniería Industrial y de Sistemas. He tenido aciertos y fallos en mi vida, pero siempre he buscado aprender de cada situación o personas que me acompañan.</p>
              <a href="https://www.linkedin.com/in/ricardolira/" target="_blank" class="btn btn-primary"><i class="fa fa-linkedin-square"></i>&nbsp;Linkedin</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Second columnn-->

        <!--Third columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card hoverable">
            <!--Card image-->
            <img class="img-fluid" src="assets/card03.jpg" alt="">
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Developer articles en Twitter</h4>
              <!--Text-->
              <p class="card-text">Todo lo que he encontrado de artículos, actualizaciones y notas de desarrolladores los trato de poner en mi twitter personal. Siempre trato de estar al tanto de actualizaciones.</p>
              <a href="https://twitter.com/soyrichlira" target="_blank" class="btn btn-primary"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Third columnn-->
      </div>
    </section>
    <!--/Section: Tarjetillas-->
  </div>
</div>
<!--Footer-->
<app-footer></app-footer>
<!--/.Footer-->
